@using ПР37_Осокин.Data.Models
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
@model VMItems
@{
    Layout = "_Layout";
}
<div>
    <select onchange="SelectCategory(this)">
        <option value="0">Выбрать ...</option>
        @{
            foreach(var Category in Model.Categories)
            {
                if (item.Id == Model.SelectCategory)
                {
                    <div class="item">
                        <img src="@item.Img"/>
                        <div class="basket">
                            <div class="button" id="@item.Id">
                            </div>
                        </div>
                    </div>
                    <option selected="selected" value="@Categories.Id">@Categories.Name</option>
                }
                else
                {
                    <option value="@Categories.Id">@Categories.Name</option>
                }
            }
        }
    </select>
    <script>
        function SelectCategory(sender){
            window.location = "/Items/List?id" + sender.value;
        }
    </script>
</div>
<h2>Все предметы</h2>
@{
    foreach(var item in Model)
    {
        <div class="item">
            <img src="@item.Img"/>
            <div class="data">
                <h3>Модель: @item.Name</h3>
                <div>Цена: @item.Price.ToString("c")</div>
                <div>Категория: @item.Category.Name</div>
                <div>Описание: @item.Description</div>
            </div>
        </div>
    }
}
